<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Add New Student</button>
    <h1>Student Table</h1>
    <div class="row col-md-7 table-responsive">
        <table id="customerTable" class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Course</th>
                <th>Fee</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="student, rowStat: ${students}"  th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.course}"></td>
                <td th:text="${student.fee}"></td>
                <td><a th:href="@{'/students/{id}/delete'(id=${student.id})}">delete</a> | <a th:href="@{'/students/{id}/edit'(id=${student.id})}">edit</a></td>

            </tr>
            </tbody>
        </table>
    </div>


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Student</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="/students/create" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="course">Course:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="course" id="course" placeholder="Enter Course name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="fee">Fee:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="fee" id="fee" placeholder="Enter Fee">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>